.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
  .message-box {
    padding: 10px; /* Adjust padding for smaller screens */
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  .messages {
    max-height: 200px; /* Adjust max height for messages container */
  }

  .inputs {
    flex-direction: column; /* Change input elements to stack vertically */
  }

  .inputs input {
    margin-right: 0; /* Remove right margin for input elements */
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }

  .create-btn {
    width: auto; /* Allow button width to adjust based on content */
  }

  .buttons input,
  .buttons button {
    width: 100%; /* Make input and button elements full width */
  }
}

